.admin_main {
    width: 83vw;
    margin: 5px;
    margin-left: 213px;
    margin-top: 60px;
    border-radius: 10px;
    height: 88.3vh;
    border: 2px solid #000000;
    position: absolute;

}