.features_div {
    width: 100%;
    height: 340vh;
    background-color: black;
}

.featur_h1 {
    padding-top: 10vh;
    padding-bottom: 5vh;
    text-align: center;
    background-image: radial-gradient(rgb(53, 52, 52), rgb(12, 10, 8), rgb(6, 6, 7));
    /* font-family: "Dancing Script", cursive; */
    font-size: 4rem;
    text-decoration: underline;
    text-shadow: 2px 2px #f1f1f1;
}



.card1 {
    /* align-items: center; */
    /* background-color: antiquewhite; */
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    display: grid;
    margin-left: 10vw;
    width: 20vw;
    height: 60vh;
}

.card2 {
    /* align-items: center; */
    display: grid;
    margin-left: 10vw;
    width: 20vw;
    height: 60vh;
}

.card3 {
    /* align-items: center; */
    display: grid;
    margin-left: 10vw;
    width: 20vw;
    height: 60vh;
}

.card4 {
    /* align-items: center; */
    display: grid;
    margin-left: 10vw;
    margin-top: 10vw;
    width: 20vw;
    height: 60vh;
}

.card5 {
    /* align-items: center; */
    display: grid;
    margin-left: 10vw;
    margin-top: 10vw;
    width: 20vw;
    height: 60;
}

.card_div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}


.feature_last {
    height: 30vh;
    width: 70vw;
    margin-left: 15vw;
    /* background-color: aliceblue; */
    margin-top: 20vh;
    display: flex;
}

.easy {
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
}

.easy_img {
    margin-left: 5vh;
    width: 40%;

}







@media (max-width: 768px) {
    .features_div {
        height: 360vh;
    }

    .card_div {
        margin-top: 10%;
        justify-content: center;
        /* text-align: center;
        align-items: center; */
        display: grid;
        grid-template-columns: 48% 48%;
        column-gap: 10px;
        /* flex-wrap: wrap; */
    }

    .card1 {
        display: grid;
        margin-left: 2%;
        width: 22vw;
        height: 60vh;
    }

    .card2 {
        display: grid;
        margin-left: 2%;
        width: 20vw;
        height: 60vh;
    }

    .card3 {
        display: grid;
        margin-left: 2%;
        width: 20vw;
        height: 60vh;
    }

    .card4 {
        display: grid;
        margin-left: 2%;
        width: 20vw;
        height: 60vh;
        margin-top: 0vw;
    }

    .card5 {
        margin-top: 0;
        display: grid;
        margin-left: 2%;
        width: 20vw;
        height: 60vh;
    }

    .feature_last {
        height: 30vh;
        width: 70vw;
        margin-left: 15vw;
        /* background-color: aliceblue; */
        margin-top: 10%;
        display: flex;
    }

    .easy {
        width: 50%;
        height: 100%;
        /* background-color: aqua; */
    }


}