body {
    background-size: cover;
    background-attachment: fixed;
}

.main {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/main_bg.jpg);
    background-size: cover;
    background-position: center;
}

.BodyB {
    margin-top: 17vh;
    height: 83vh;
    width: 45vw;
    float: right;

}

.mainText {
    margin-left: 6vw;
    height: 80vh;
    width: 70%;
    float: left;
    margin-top: 20vh;
}

.toptext {
    color: rgb(245, 242, 242);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    margin-top: 10%;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
}

h3,
.shape {
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 0px #fcf9f9, -2px -2px 0px #f7f6f6, 2px -2px 0px #f5f5f5, -2px 2px 0px #f8f4f4;
    color: rgb(14, 13, 13);
    font-family: 'Arial';
}

.ft {
    margin: 0;
    padding: 0;
    color: orangered;
    text-shadow: 3px 3px #ff0202;
    font-family: 'Arial';
    font-size: 5rem;
    font-weight: bold;
}



.abt_div {
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: right;
    display: block;
}

.about {
    width: 55vw;
    height: 70vh;
    background-image: radial-gradient(rgb(53, 52, 52), rgb(12, 10, 8), rgb(6, 6, 7));
    text-align: center;
    margin: 10vh 0 0 4vw;
    border-radius: 50px;
    border: 2px solid orangered;
    float: left;
    transition: box-shadow .7s;
}

.about:hover {
    box-shadow: 16px 12px 16px 0 rgba(255, 69, 0, 0.24), 0 17px 20px 0 rgba(250, 250, 250, 0.19);
}

.abt_img {
    text-align: center;
    margin-top: 20vh;
}

.bb_img {
    width: 60vh;
    height: 60vh;
    margin-left: 5vw;
}

.abt_h1 {
    padding-top: 5vh;
    color: orangered;
    font-size: 2.5rem;
}

.abt_p {
    color: #f1efef;
    text-align: justify;
    padding: 7vh;
    font-size: 1.4rem;
}

.contact_div {
    margin: 0;
    width: 100vw;
    height: 100vh;
    /* background-image: url(../images/contact.mp4); */
    background-size: cover;
}

.videoTag {
    z-index: -1;
    float: left;
    top: 0;
    padding: none;
    /* position: static; */
    position: fixed;


}

.contact_form {
    width: 50vw;
    height: 80vh;
    margin-left: 45vw;

}

.contact_input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid orangered;

    color: rgb(226, 223, 223);
    font-size: 1rem;
    margin: .5vh;
    width: 22vw;
    height: 7vh;
    border-radius: 10px;
}

.contact_text {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid orangered;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin-left: .5vw;
    margin-top: 3vh;
    width: 45vw;
    height: 20vh;
    border-radius: 10px;
}

.submit-contact {
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 1.5rem;
    margin-top: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: .5vw;
    height: 8vh;
    width: 15vw;
    border-radius: 5px;
    transition: color .5s;
    transition: background-color .3s;
    border: 2px solid orangered;
}

.submit-contact:hover {
    background-color: orangered;
    color: rgb(7, 6, 6);
    transform: scaleX(1);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 27px 50px 0 rgba(0, 0, 0, 0.19);
}

.contact_h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 19vh;
    margin-left: 2vw;
    float: left;
    width: 40vw;
    height: 80vh;
    display: inline-flex;
    color: white;
}

.h1_cnt {
    padding-top: 20vh;
    padding-bottom: 3vh;
    margin-bottom: 0;
    margin-left: .5vw;
    font-weight: bold;
    font-size: 2rem;
    color: orangered;
}

.cnt_img {
    margin-top: 5vh;
    margin-left: 6vw;
    height: 60vh;
}




@media (max-width: 768px) {

    .mainText {
        margin-top: 5vh;
    }

    .toptext {
        margin-top: 10%;
        font-size: 2.5rem;
    }

    .ft {
        font-size: 4rem;
    }

    .about {
        margin-bottom: 20px;
        width: 90%;
        height: 60%;
        background-image: radial-gradient(rgb(53, 52, 52), rgb(12, 10, 8), rgb(6, 6, 7));
        text-align: center;
        /* margin: 10vh 0 0 4vw; */
        border-radius: 50px;
        border: 2px solid orangered;
        /* float: left; */
        transition: box-shadow .7s;
    }

    .abt_img {
        margin-left: 20px;
        margin-top: 10px;
    }

    .bb_img {
        height: 50vw;
        width: 50vw;
    }


    .contact_div {
        justify-content: center;
        margin: 0;
        width: 100vw;
        height: 100vh;
        /* background-color: black; */
        background-image: url(../images/contact.mp4);
        background-size: cover;
    }

    .contact_form {
        width: 100vw;
        height: 80vh;
        margin-left: 0;

    }

    .contact_input {
        background-color: rgba(15, 14, 14, 0.4);
        border: 2px solid orangered;

        color: rgb(226, 223, 223);
        font-size: 1rem;
        margin: .5vh;
        width: 91%;
        height: 7vh;
        border-radius: 10px;
    }

    .contact_text {
        background-color: rgba(15, 14, 14, 0.4);
    }


    .h1_cnt {
        margin-top: 0;
        padding-top: 10%;
    }

    .submit-contact {
        width: 50%;
        margin-left: 25%;
    }

    .videoTag {
        float: right;
        position: fixed;
    }


}