.pricing_div {
    height: 150vh;
    width: 100vw;
    /* background-color: rgb(3, 3, 3); */
}

.h1_price {
    color: white;
    padding: 20vh 0 0 30vh;
    font-size: 2rem;
    background-color: black;
}

.par {
    padding-right: 20vw;
}

.head_prc {
    background-color: black;
    display: flex;
    width: 100vw;
    height: 20vh;
    /* background-color: antiquewhite; */
}

.in_head_prc {
    display: flex;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(250, 249, 249);
    margin-top: 4vh;
    width: 20vw;
    margin-left: 4vw;
    height: 15vh;
    /* background-color: aqua; */
}

.content_prc {
    display: flex;
    width: 100vw;
    height: 60vh;
    background-color: black
}

.in_content_prc {
    border-radius: 5px;
    border: 1px solid rgb(243, 242, 242);
    width: 20vw;
    margin-left: 4vw;
    height: 50vh;
    /* background-color: aqua; */
}

.prc {
    margin-top: 25%;
    text-align: center;
    font-size: 1.3rem;
    color: rgb(88, 87, 87);
}

.price {
    color: orangered;
}

.free_btn {
    width: 80%;
    height: 13%;
    margin-left: 10%;
    border-radius: 5px;
    background: orangered;
    border: 2px solid orangered;
    transition: border .5s;
    font-size: 1rem;
}

.free_btn:hover {
    border: 2px solid black;
}

.book_btn {
    width: 80%;
    height: 13%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 5px;
    background: transparent;
    border: 2px solid orangered;
    color: orangered;
    transition: background-color .5s;
    font-size: 1rem;
}

.book_btn:hover {
    background-color: orangered;
    color: white;
}

.free_img {
    height: 60%;
    margin-left: 8vh;
    margin-top: 6%;
}

.th-six-img {
    height: 60%;
    margin-left: 5vh;
    margin-top: 6%;
}

.tw-img {
    height: 75%;
    margin-left: 4vh;
    margin-top: 4%;
}



@media (max-width: 768px) {
    .par {
        padding-right: 0;
    }

    .free_img {
        height: 50%;
        margin-top: 15%;
        margin-left: 0;
    }

    .tw-img {
        height: 75vh;
        margin-left: 0;
        margin-top: 4%;
    }

    .th-six-img {
        height: 50%;
        margin-left: 0;
        margin-top: 6%;
    }

    .in_head_prc h1 {
        font-size: 1rem;
    }

    .in_head_prc img {
        height: 50%;
    }

    .h1_price {
        color: white;
        padding: 0;
        padding-top: 10%;
        font-size: 1.2rem;
        width: 100vw;
    }


    .in_head_prc {
        display: block;
        /* text-align: left; */
        border-radius: 5px;
        border: 1px solid rgb(250, 249, 249);
        margin-top: 4vh;
        width: 20%;
        margin-left: 4vw;
        height: 15vh;
        align-items: center;
        justify-content: center;
        /* background-color: aqua; */
    }

    .in_content_prc {
        border-radius: 5px;
        border: 1px solid rgb(243, 242, 242);
        width: 20vw;
        margin-left: 4vw;
        height: 50%;
        /* background-color: aqua; */
    }

    .free_btn {
        margin-top: 12%;
        height: 28%;
    }
}